body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .el-loading-spinner .circular {
    width: 42px;
    height: 42px;
    animation: loading-rotate 2s linear infinite;
    display: none;
}

.el-loading-spinner {
    background: url(../assets/1.gif) 50% 50% no-repeat rgba(0, 0, 0, 0.7);
    background-size: 100px 88px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

@keyframes dialog-fade-in {
    0% {
        /* X Y Z */
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes dialog-fade-out {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
}


/* input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(84, 171, 241, 0.918);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(84, 171, 241, 0.918);
} */


/* 去除浏览器默认滚动条 */


/* .el-table .cell {
    white-space: nowrap;
} */

.el-dialog .el-dialog__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}